---
layout: default
---

<div class="home-layout">
  {% include sidebar.html %}
  
  <div class="recent-posts">
    <h2>最近更新</h2>
    <!-- 分页文章列表 -->
    {% for post in paginator.posts %}
      <article class="post-preview">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%Y-%m-%d" }}
        </time>
        <p>{{ post.excerpt | strip_html | truncate: 100 }}</p>
      </article>
    {% endfor %}
    
    <!-- 分页导航 -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-prev">
          &laquo; 上一页
        </a>
      {% endif %}
      
      <span class="pagination-current">
        第 {{ paginator.page }} 页 / 共 {{ paginator.total_pages }} 页
      </span>
      
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-next">
          下一页 &raquo;
        </a>
      {% endif %}
    </div>
  </div>
</div>